
<nav class="navbar navbar-expand-sm bg-info navbar-light" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">QUẢN LÝ BÃI ĐẬU XE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/users/{role_number}(role_number=#{role.number.security})}">Nhân viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/users/{role_number}(role_number=#{role.number.customer})}">Khách hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bãi đậu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets">Vé</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Phương tiện</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" th:if="${username != null}">
                    <a href="#" class="nav-link active">
                        Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>
                    </a>
                </li>
                <li class="nav-item" th:if="${username != null}">
                    <a th:href="@{/logout}" class="nav-link">Đăng xuất</a>
                </li>
                <li class="nav-item" th:if="${username == null}">
                    <a class="nav-link" th:href="@{/login}">Đăng nhập</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
