.containerForm{
    margin: 0 auto;
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    flex: 5;
}

.user-form {
    flex: 5;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 30px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group.address {
    flex-basis: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.table-section {
    margin-top: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.modal-btn {
    background-color: #46a9ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 60px;
}

.save-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
}

.div-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
}

.containerDiv {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.customer-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding-left: 30px;
    margin-top: 20px;
}

.customer-table th,
.customer-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style cho cột tiêu đề */
.customer-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Style cho các hàng dữ liệu */
.customer-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customer-table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}