.container {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .input-container input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 350px;
    height: 250px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .scan-button {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .scan-button:hover {
    background-color: #3e8e41;
  }
  
  .time-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .time-container input {
    width: 45%;
    height: 40px;
    padding: 10px;
    margin: 10px 90px 10px 90px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #3e8e41;
  }

  .divBtn {
    width: 100%;
    display: flex;
  }

  .btnFind {
    margin-left: auto;
    margin-right: 100px;
  }