.modal-title {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modal-title-dash {
    width: 100px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}