.sign-in4-container1 {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
   
  .sign-in4-max-width {
    gap: var(--dl-layout-space-twounits);
    width: auto;
    display: flex;
    z-index: 100;
    align-items: center;
    border-radius: var(--dl-layout-radius-cardradius);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-theme-neutral-light);
  }
   
  .sign-in4-form-root {
    gap: var(--dl-layout-space-unit);
    width: 600px;
    height: auto;
    display: flex;
    overflow: hidden;
    max-width: 600px;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--dl-layout-radius-radius4);
    justify-content: center;
  }
   
  .sign-in4-form1 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
   
  .sign-in4-container2 {
    gap: var(--dl-layout-space-halfunit);
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
   
  .sign-in4-text10 {
    align-self: center;
  }
   
  .sign-in4-text11 {
    align-self: center;
  }
   
  .sign-in4-container3 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
   
  .sign-in4-button1 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-color: var(--dl-color-theme-primary1);
    border-style: solid;
    border-width: 1px;
    justify-content: center;
  }
   
  .sign-in4-icon1 {
    width: 24px;
    height: 24px;
  }
   
  .sign-in4-button2 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-color: var(--dl-color-theme-primary1);
    border-style: solid;
    border-width: 1px;
    justify-content: center;
  }
   
  .sign-in4-icon3 {
    width: 24px;
    height: 24px;
  }
   
  .sign-in4-divider1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .sign-in4-divider2 {
    flex: 1;
    width: var(--dl-layout-size-medium);
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-theme-primary1);
  }
   
  .sign-in4-divider3 {
    flex: 1;
    width: var(--dl-layout-size-medium);
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-theme-primary1);
  }
   
  .sign-in4-form2 {
    gap: var(--dl-layout-space-unit);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
   
  .sign-in4-email {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
   
  .sign-in4-textinput1 {
    width: 100%;
    border-color: var(--dl-color-theme-primary1);
    background-color: transparent;
  }
   
  .sign-in4-password {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
   
  .sign-in4-container4 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
   
  .sign-in4-hide-password {
    gap: var(--dl-layout-space-halfunit);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
  }
   
  .sign-in4-icon5 {
    fill: var(--dl-color-theme-neutral-dark);
    width: 24px;
    height: 24px;
  }
   
  .sign-in4-textinput2 {
    width: 100%;
    border-color: var(--dl-color-theme-primary1);
    background-color: transparent;
  }
   
  .sign-in4-container5 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
  }
   
  .sign-in4-link {
    text-decoration:  underline none;
  }
   
  .sign-in4-container6 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
  }
   
  .sign-in4-button3 {
    width: 100%;
    align-self: center;
  }
   
  .sign-in4-text18 {
    text-align: center;
  }
   
  .sign-in4-sign-up-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    position: absolute;
  }
   
  .sign-in4-container7 {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    right: 0px;
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    bottom: 0px;
    height: 100%;
    display: flex;
    z-index: 10;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(0,0,0,0.4);
  }
   
  .sign-in4-text19 {
    display: inline-block;
  }
   
  .sign-in4-text20 {
    display: inline-block;
  }
   
  @media(max-width: 991px) {
    .sign-in4-form-root {
      width: 100%;
    }
  }
   
  @media(max-width: 479px) {
    .sign-in4-form-root {
      padding: 0px;
    }
    .sign-in4-text11 {
      text-align: center;
    }
    .sign-in4-button1 {
      width: 100%;
    }
    .sign-in4-button2 {
      width: 100%;
    }
    .sign-in4-button3 {
      width: 100%;
    }
  }
  